packages: [
  "atom-beautify"
  "auto-update-packages"
  "clipboard-plus"
  "ex-mode"
  "file-icons"
  "language-docker"
  "language-ini"
  "language-pgsql"
  "language-terraform"
  "line-ending-converter"
  "linter"
  "linter-coffeelint"
  "linter-csslint"
  "linter-docker"
  "linter-js-yaml"
  "linter-jshint"
  "linter-manager"
  "linter-pylint"
  "linter-reek"
  "linter-rubocop"
  "linter-scss-lint"
  "linter-ui-default"
  "manage-packages"
  "merge-conflicts"
  "minimap"
  "seti-syntax"
  "seti-ui"
  "split-diff"
  "teletype"
  "vim-mode-plus"
  "wakatime"
]
